.App {
  text-align: center;
  background-color: #282c34;
}

 h1,h2,h3,h4,h5{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9e9e9e;
}

a {
  color: #61dafb;
}
